.tariff__wrap .tariff__item {
	border-color: transparent;
}
.tariff__wrap .tariff__item:hover {
	border-color: #bbc4cd;
}
.tariff__wrap .tariff__item::before {
	display: none;
}
.tariff__wrap .tariff__item:hover::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top-color: #fe9023;
	border-left-color: #fe9023;
	position: absolute;
	left: -1px;
	top: -1px;
}
.tariff__name {
	color: black;
	text-decoration: none;
}
a.tariff__name:hover {
	text-decoration: underline;
}