.tariff__name {
	color: black;
	text-decoration: none;
}
a.tariff__name:hover {
	text-decoration: underline;
}

.tariff-wrap4 .tariff__item {
	width: 25%;
}
/*.tariff-wrap4 .tariff__name {
	width: 100%;
	padding-left: 0;
}*/
.tariff-wrap4 .tariff__info {
	/*height: calc(100% - 112px);*/
}
@media screen and (max-width: 1580px) {
	.tariff-wrap4 .tariff__item {
		width: 33.3%;
	}
}
@media screen and (max-width: 920px) {
	.tariff-wrap4 .tariff__item {
		width: 100%;
		flex-direction: column;
	}
}